.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    //Clave para que la NavBar quede siempre arriba por más que scrolleemos la pagina
    position: fixed;
    top: 0;
    z-index: 999;
    //
    .container{
        display: flex;
        align-items: center;
        padding: 0px 50px;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 25px;
                margin-right: 40px;
            }
            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .right{
            display: flex;
            align-items: center;
            img{
                width: 45px;
                height: 45px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
            .icon{
                margin: 0px 15px;
                cursor: pointer;
            }
            .profile{
                .options{
                    display: none; //Clave para que no se muestre el select
                    background-color: var(--main-color);
                    border-radius: 5px;
                }
                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;    //Se despliega el select cuando pasamos el cursor
                        position: absolute;
                    }
                }
                span{
                    padding: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}